*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* gap: 20px; */
    border: 2px solid black;
    height: 30vw;
    width: 30vw;
    border-radius: 50px;
    padding: 40px;
}

.form>label{
    font-size: 20px;
}

#submit{
    margin-top: 20px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
}

#submit:hover{
    border-color: orange;
    background-color: blanchedalmond;
}

.input{
    height: 30px;
    text-align: center;

}

